// Mixins
.animation(@animation) {
	animation: @animation;
	-webkit-animation: @animation;
}

.animation-name (@animation-name) {
	animation-name: @animation-name;
	-webkit-animation-name: @animation-name;
}

.animation-duration (@animation-duration: @speed) {
	animation-duration: @animation-duration;
	-webkit-animation-duration: @animation-duration;
}

.animation-timing-function(@animation-timing-function: linear) {
	animation-timing-function: @animation-timing-function;
	-webkit-animation-timing-function: @animation-timing-function;
}

.animation-delay(@animation-delay) {
	animation-delay: @animation-delay;
	-webkit-animation-delay: @animation-delay;
}

.animation-iteration-count(@animation-iteration-count) {
	animation-iteration-count: @animation-iteration-count;
	-webkit-animation-iteration-count: @animation-iteration-count;
}

.animation-direction(@animation-direction) {
	animation-direction: @animation-direction;
	-webkit-animation-direction: @animation-direction;
}

.animation-play-state(@animation-play-state) {
	animation-play-state: @animation-play-state;
	-webkit-animation-play-state: @animation-play-state;
}

@keyframes rotate {
	100% { .rotate(360deg); }
}

@-webkit-keyframes rotate {
	100% { .rotate(360deg); }
}


@keyframes rotate-pulse {
	0% {
		.transform(rotate(0deg) scale(1));
	}
	50% {
		.transform(rotate(180deg) scale(1.5));
	}
	100% {
		.transform(rotate(360deg) scale(1));
	}
}

@-webkit-keyframes rotate-pulse {
	0% {
		.transform(rotate(0deg) scale(1));
	}
	50% {
		.transform(rotate(180deg) scale(1.5));
	}
	100% {
		.transform(rotate(360deg) scale(1));
	}
}


@keyframes parallax-pan {
	100% {
		background-position: -768px 0
	}
}

@-webkit-keyframes parallax-pan {
	100% {
		background-position: -768px 0
	}
}
