.account-controls {
	margin: @space 0;

	.account-name {
		margin-bottom: (@space / 2);

		> i {
			display: inline-block;
			border: @white 0.1rem solid;
			border-radius: 0.4rem;
		}
	}
}

@media screen and (min-width: @screen-sm) {
	.editor-pages {
		.row();

		aside {
			.col-xs-4();
		}

		form {
			.col-xs-8();
		}
	}
}