@header-width-md: 20rem;
@header-width-lg: 30rem;
@header-min-height: 600px;

body {
	@media screen and (min-width: @screen-sm) {
		padding-left: (@header-width-md + 0.6rem);
	}

	@media screen and (min-width: @screen-md) {
		padding-left: (@header-width-lg + 0.6rem);
	}
}

main[role="main"] {
	position: relative;
	font-size: 1.2rem;
	padding: @pad;
	z-index: 1;

	header {
		.clearfix();
		margin: -@pad -@pad @space;
		padding: @pad;
		background: fade(@black, 40%);
		box-shadow: inset fade(@black, 30%) 0 1rem 1rem, fade(@black, 70%) 0 -0.1rem 0, fade(@white, 60%) 0 0.1rem 0;

		h1 {
			position: relative;
			font: 400 3rem/3rem @font-family-serif;
			color: @white;
			text-shadow: fade(@black, 30%) 0.1rem 0.1rem 0, fade(@black, 30%) 0.5rem 0.5rem 1rem;
			margin: 0;
			padding: 0.8rem 0 0.8rem 5.5rem;

			i {
				display:block;
				position: absolute;
				top: 0;
				left: 0;
				width: 4.5rem;
				height: 4.5rem;
				font-size: 2.5rem;
				line-height: 4.1rem;
				text-align: center;
				border: @white 0.2rem solid;
				border-radius: 5rem;
				background: @brand-primary;
				box-shadow:
					@brand-primary 0 -0.2rem 0,
					@brand-primary 0.2rem 0 0,
					@brand-primary 0 0.2rem 0,
					@brand-primary -0.2rem 0 0,
					fade(@black, 30%) 0.5rem 0.5rem 1rem;
			}

		}
	}

	> h2 {
		display: inline-block;
		font-size: 2rem;
		color: @white;
		text-shadow: fade(@black, 40%) -0.1rem -0.1rem 0;
		margin-left: -@pad-double;
		padding: @padding-base-vertical @pad @padding-base-vertical @pad-double;
		border-top-left-radius: 1rem;
		background: @brand-primary url(../img/bg_h2.png) 0 0 repeat;
		box-shadow: inset fade(@black, 30%) 1rem 0 1rem, inset fade(@white, 30%) 0 0.1rem 0,inset fade(@black, 30%) -0.1rem -0.1rem 0, inset fade(@black, 30%) 0 -2rem 2rem, fade(@black, 20%) 0.5rem 0.5rem 0.1rem;
	}

	.featured-image {
		position: relative;
		margin: @space -@pad @space;
		overflow: hidden;
		background: @black 100% 0 scroll no-repeat;
		background-size: 100% auto;
		box-shadow: inset fade(@black, 80%) 0 0 4rem, fade(@white, 40%) 0 0.1rem 0, fade(@black, 50%) 0 -0.1rem 0;
	}

	@media screen and (min-width: @screen-xs) {
		font-size: 1.4rem;

		header > h1 {
			font-size: 5rem;
			line-height: 5rem;
			padding-left: 7rem;

			i {
				width: 6rem;
				height: 6rem;
				font-size: 3rem;
				line-height: 5.6rem;
			}
		}

		h2 {
			font-size: 3rem;
		}
	}

	@media screen and (min-width: @screen-sm) {
		.featured-image {
			height: 18rem;
			background-attachment: fixed;

			img { display: none; }
		}
	}

	@media screen and (min-width: @screen-md) {
		.featured-image {
			height:24rem;
		}
	}

	@media screen and (min-width: @screen-lg) {
		.featured-image {
			height:30rem;

			&:after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				background: url(../img/bg_img-pattern.gif) 0 0 fixed repeat;
				.opacity(0.20);
				z-index: 1;
			}
		}
	}
}
