.site-featured {
	.container();

	.item {
		.col-xs-12();
		margin-bottom: @space;

		> a {
			display: block;
			position: relative;
			color: @white;
			text-decoration: none;
			padding: 0.6rem;
			border: @gray-dark 1px solid;
			border-radius: 0.6rem;
			background: fade(@black, 50%);
			box-shadow: inset fade(@black, 40%) 0.1rem 0.1rem 0.1rem, fade(@white, 40%) 0.1rem 0.1rem 0;
			overflow: hidden;

			.text {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				color: @white;
				text-shadow: @black 0 0.3rem 0.2rem;
				padding: @pad;
				background: fade(@black, 70%);
				box-shadow: inset fade(@black, 60%) 0 -0.1rem 0, inset fade(@black, 60%) 0 0 1rem, fade(@white, 30%) 0 -0.1rem 0, fade(@black, 40%) 0 -1rem 1rem;

				h2 {
					margin: 0;
				}

				p {
					white-space: nowrap;
					text-overflow: ellipsis;
					height: 0;
					margin: 0;
					.opacity(0);
					overflow: hidden;
					-webkit-transition: height @speed @easing, opacity @speed @easing;
					transition: height @speed @easing, opacity @speed @easing;
				}
			}

			.image {
				box-shadow: inset fade(@white, 40%) 0.1rem 0.1rem 0, fade(@black, 40%) 0.1rem 0.1rem 0.1rem;

				img { display: block; }
			}

			[class*="icon-"] {
				height: 22rem;
				font-size: 12rem;
				text-align: center;
				text-shadow: fade(@black, 50%) 0.1rem 0.1rem 0, fade(@black, 40%) 0 0 1rem;
				padding: @pad;
			}

			&:hover .text p {
				height: 1.8rem;
				.opacity(1);
			}
		}

		@media screen and (min-width: 640px) {
			.col-xs-6();
		}

		@media screen and (min-width: @screen-sm) {
			.col-xs-12();
		}

		@media screen and (min-width: @screen-md) {
			.col-xs-6();
		}

		@media screen and (min-width: 1256px) {
			.col-xs-4();
		}
	}
}