footer[role="contentinfo"] {
	width: 100%;
	font-size: 1.2rem;
	color: @white;
	padding: @pad;
	background: fade(@black, 50%);
	box-shadow: inset fade(@black, 30%) 0 1rem 1rem, fade(@black, 70%) 0 -0.1rem 0, fade(@white, 60%) 0 0.1rem 0;

	.site-social > ul {
		.nav();

		li {
			a {
				color: @white;
				padding-left: 5rem;

				i {
					position: absolute;
					top: 0.9rem;
					left: @space;
					font-size: 2rem;
				}
			}
		}
	}

	@media screen and (min-width: @screen-sm) and (min-height: @header-min-height) {
		position: fixed;
		bottom: 0;
		left: 0;
		width: @header-width-md;
	}

	@media screen and (min-width: @screen-md) and (max-width: @screen-md) {
		.site-social > ul > li > a > i {
			top: @space;
		}
	}

	@media screen and (min-width: @screen-md) and (min-height: @header-min-height) {
		width: @header-width-lg;
	}
}