select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
	.form-control();

	border-color: @gray;
	box-shadow: inset fade(@black, 30%) 0.2rem 0.2rem 0.1rem, fade(@white, 40%) 0.1rem 0.1rem 0;
}

.btn, button {
	font-size: 1.6rem;
	line-height: 1,6rem;
	color: @white!important;
	padding: 0.6rem @pad 0.8rem;
	border: @brand-primary 0.2rem solid;
	background: @brand-primary url(../img/bg_header.png) 0 0 repeat!important;
	box-shadow: inset @white 0.1rem 0.1rem 0, inset @white -0.1rem -0.1rem 0;

	> i {
		position: relative;
		top: 0.3rem;
		font-size: 2.1rem;
	}
}

.form-login {
	.container();

	form {
		@media screen and (min-width: @screen-xs) {
			.col-xs-6();
		}

		@media screen and (min-width: @screen-sm) {
			.col-xs-4();
		}
	}
}