.site-logo {
	margin-bottom: @space;

	img {
		.img-responsive();
		height: auto;
	}
}

header[role="banner"] {
	position: relative;
	width: 100%;
	color: @white;
	text-align: center;
	margin-bottom: 0.6rem;
	padding: @pad;
	background: @brand-primary url(../img/bg_header.png) 0 0 repeat;
	box-shadow: inset fade(@black, 30%) 0 -1rem 4rem;
	.transition(width @speed @easing);

	&:after {
		display: block;
		position: absolute;
		right: 0;
		bottom: -0.6rem;
		left: 0;
		width: 100%;
		height: 0.6rem;
		content: '';
		border-top: @gray-darker 1px solid;
		border-bottom: @gray 1px solid;
		background: #C05;
		box-shadow: inset fade(@white, 40%) 0 0.1rem 0, fade(@white, 40%) 0 0.1rem 0;
	}

	a {
		color: @white;
	}

	.site-tagline {
		font: 400 2rem/2rem @font-family-serif;
	}

	nav {
		font-size: 2rem;
		padding: @pad 0;
		border: fade(@white, 40%) solid;
		border-width: 0.1rem 0;

		button {
			margin-bottom: @space;

			> i {
				.icon();
				.icon-menu();
			}

			&.collapsed {
				margin: 0;
			}
		}

		ul {
			height: 0;
			padding: 0 0.1rem 0.1rem 0;
			overflow: hidden;

			a {
				color: @white;
			}
		}
	}

	@media screen and (min-width: @screen-xs) and (max-width: @screen-sm) {
		.site-brand {
			.make-row();

			.site-logo {
				.make-xs-column(4);
			}

			.site-tagline {
				padding-top: 6.1%;
				.make-xs-column(8);
			}
		}
	}

	@media screen and (min-width: @screen-sm) {
		position: absolute;
		top: 0;
		left: 0;
		width: @header-width-md;
		margin: 0;
		box-shadow: inset fade(@black, 30%) -1rem 0 4rem;

		nav {
			button {
				display: none;
			}

			ul {
				display: block!important;
				height: auto!important;
				padding: 0;
				overflow: visible;
			}
		}

		&:after {
			top: 0;
			right: -0.6rem;
			bottom: 0;
			left: auto;
			height: 100%;
			width: 0.6rem;
			border: none;
			border-right: @gray 1px solid;
			border-left: @gray-darker 1px solid;
			box-shadow: inset fade(@white, 40%) 0.1rem 0 0, fade(@white, 40%) 0.1rem 0 0;
		}
	}

	@media screen and (min-width: @screen-sm) and (min-height: 400px) {
		bottom: 0;
	}

	@media screen and (min-width: @screen-md) {
		width: @header-width-lg;

		.site-tagline {
			font-size: 2rem;
			line-height: 3rem;
		}
	}

	@media screen and (min-width: @screen-sm) and (min-height: 400px) {
		position: fixed;
	}
}