.site-hero {
	position: relative;
	width: 100%;
	height: 25.6rem;
	margin-bottom: (@space + 0.6rem);

	.site-logo {
		position: absolute;
		top: @space;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 1;

		img {
			display: inline-block;
			text-shadow: fade(@black, 20%) 0 0.1rem 0.1rem;
		}

		@media screen and (max-width: @screen-xs) {
			display: none;
		}
	}

	.hero-text {
		position: absolute;
		bottom: 5rem;
		left: 0;
		width: 100%;
		font-family: @font-family-serif;
		font-size: 2rem;
		color: @white;
		text-align: center;
		text-shadow: fade(@black, 30%) 0 0.2rem 0.1rem;
		z-index: 2;

		@media screen and (min-width: @screen-sm) {
			font-size: 3rem;
		}
	}

	.parallax {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #7491AF url(../img/bg_parallax.png) 0 0 repeat-x;
		z-index: 0;

		*, *:before, *:after {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			background-position: 0 0;
			background-repeat: repeat-x;
		}

		.parallax-sky {
			background-image: url(../img/bg_parallax-sky-1.png);
			.opacity(0.70);
			z-index: 1;
		}

		.parallax-sky:before {
			background-image: url(../img/bg_parallax-sky-2.png);
			z-index: 1;
		}

		.parallax-sky:after {
			background-image: url(../img/bg_parallax-sky-3.png);
			z-index: 0;
		}

		.parallax-bg {
			background-image: url(../img/bg_parallax-bg-1.png);
			z-index: 0;
		}

		.parallax-fg {
			height: 4.6rem;
			top: auto;
			bottom: 0;
			background-image: url(../img/bg_parallax-fg-1.png);
			z-index: 2;
		}

		@media screen and (min-width: @screen-xs) {
			.parallax-sky, .parallax-sky:before, .parallax-sky:after {
				.animation(parallax-pan 60s linear infinite);
			}

			.parallax-sky:before {
				.animation-duration(40s);
			}

			.parallax-sky:after {
				.animation-duration(80s);
			}

			.parallax-bg {
				.animation(parallax-pan 60s linear infinite);
			}

			.parallax-fg {
				.animation(parallax-pan 5s linear infinite);
			}
		}
	}

	&:after {
		display: block;
		position: absolute;
		bottom: -0.6rem;
		left: 0;
		width: 100%;
		height: 0.6rem;
		content: '';
		background: fade(@black, 50%);
		box-shadow: inset fade(@black, 30%) 0 0.1rem 0.1rem, fade(@black, 70%) 0 -0.1rem 0, fade(@white, 60%) 0 0.1rem 0;
	}
}