//
// Breadcrumbs
// --------------------------------------------------

.breadcrumbs {
	color: @white;
	margin: 0 0 @space;
	padding: (@pad / 3) @pad;
	background-color: fade(@black, 40%);
	border-radius: 2rem;
	box-shadow: inset fade(@black, 20%) 0.1rem 0.1rem 0,  fade(@white, 40%) 0.1rem 0.1rem 0;

	p {
		margin: 0;

		> a {
			display: inline-block;
			font-size: 1rem;
			color: @white;

			&.active {
				color: @breadcrumb-active-color;
			}
		}
	}
}
